In [1]:
import numpy as np
import sys
import pickle
from pandas import DataFrame, Series
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.feature_selection import SelectKBest, SelectPercentile

sys.path.append("tools/")

from feature_format import featureFormat, targetFeatureSplit
from tester import test_classifier, dump_classifier_and_data
# from explore_enron_data import enron_data_set

# enron_data = pickle.load(open("final_project_dataset.pkl", "r"))
### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "r") as data_file:
    data_dict = pickle.load(data_file)

In [16]:
data_dict['SKILLING JEFFREY K']

{'bonus': 5600000,
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'jeff.skilling@enron.com',
 'exercised_stock_options': 19250000,
 'expenses': 29336,
 'from_messages': 108,
 'from_poi_to_this_person': 88,
 'from_this_person_to_poi': 30,
 'loan_advances': 'NaN',
 'long_term_incentive': 1920000,
 'other': 22122,
 'poi': True,
 'restricted_stock': 6843672,
 'restricted_stock_deferred': 'NaN',
 'salary': 1111258,
 'shared_receipt_with_poi': 2042,
 'to_messages': 3627,
 'total_payments': 8682716,
 'total_stock_value': 26093672}

In [2]:
features_list = data_dict['SKILLING JEFFREY K'].keys()
features_list.remove('email_address')
features_list.remove('poi')
features_list = ['poi'] + features_list

In [3]:
print features_list

['poi', 'salary', 'to_messages', 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 'restricted_stock', 'shared_receipt_with_poi', 'restricted_stock_deferred', 'total_stock_value', 'expenses', 'loan_advances', 'from_messages', 'other', 'from_this_person_to_poi', 'director_fees', 'deferred_income', 'long_term_incentive', 'from_poi_to_this_person']

In [4]:
outliers = ['TOTAL', 'THE TRAVEL AGENCY IN THE PARK']

for point in outliers:
    data_dict.pop(point)

In [5]:
### Store to my_dataset for easy export below.
my_dataset = data_dict

In [15]:
my_df = pd.DataFrame(my_dataset).transpose() # turn columns to rows
nan_counts_dict = {}
for column in my_df.columns:
    my_df[column] = my_df[column].replace('NaN',np.nan)
    nan_counts = my_df[column].isnull().sum()
    nan_counts_dict[column] = round(float(nan_counts)/float(len(my_df[column])) * 100,1)
df = pd.DataFrame(nan_counts_dict,index = ['percent_of_NaN']).transpose()
df.reset_index(level=0,inplace=True)
df = df.rename(columns = {'index':'feature'}).sort_values('percent_of_NaN', ascending=False)
df

                      feature  percent_of_NaN
10              loan_advances            97.9
3               director_fees            88.9
15  restricted_stock_deferred            88.2
1           deferral_payments            73.6
2             deferred_income            66.7
11        long_term_incentive            54.9
0                       bonus            43.8
7               from_messages            40.3
8     from_poi_to_this_person            40.3
9     from_this_person_to_poi            40.3
17    shared_receipt_with_poi            40.3
18                to_messages            40.3
12                      other            36.8
6                    expenses            34.7
16                     salary            34.7
5     exercised_stock_options            29.9
14           restricted_stock            24.3
4               email_address            22.9
19             total_payments            14.6
20          total_stock_value            13.2
13                        poi             0.0